body{
    font-family: Arial, sans-serif;
    background-color:  #f4f4f9;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.contenedor-formulario {background: white;padding: 20px;border-radius: 8px;box-shadow: 0 4px 8px rgb(0,0,0,0.1);}

table {width: 100%;border-collapse: collapse;}

td{
    padding: 10px;
}

.etiqueta{
    text-align: right;
    font-weight: bold;
    color:  #333;
    width: 30%;
}

input[type="text"], input[type="email"]{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    /*Es para que al padding no afecte el ancho*/
}

#tipo{
    width: 100%;
    padding: 12px;
    border: 2px solid #ecf0f1;
    border-radius: 8px;
    font-size: 1rem;
    box-sizing: border-box;
    transition: border-color 0.3s;
}


.boton-envio{
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.boton-envio:hover{
    background-color: #4caf50;
}













